.Directory {
    width: 100%;
    margin: 0px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: left;

    border: none;
    color: var(--white1);
    background-color: inherit;

    font-size: inherit;
    text-align: left;
}


.Directory:hover {
    background-color: var(--gray4);
}
