.Directory {
    margin: 0px;
    padding: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: left;

    color: var(--white1);
    background-color: inherit;

    font-size: inherit;
    text-align: left;
}
.Directory:hover {
    background-color: var(--gray4);
}

.Directory-children {
    margin-left: 9px;
    border-left: 1px var(--gray5) solid;
}
