.outer {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    padding: 30px;
    background-color: var(--gray3);
    border: var(--border1);
    border-radius: var(--round);
}

.login-box > label {
    display: block;
    margin-top: 20px;
}

.login-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    color: var(--white5);
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--white4);
}