.tag {
    display: inline-flex;
    padding: 0px 5px;
    margin: 1px;
    height: 20px;

    align-items: center;
    justify-content: center;

    background-color: var(--accent);
    border-radius: 15px;
    font-size: 0.8em;
    cursor: pointer;
}

.tag input {
    min-width: none;
    color: inherit;
    background-color: inherit;
    font: inherit;
    border: none;
}