
.EL-header {
    min-height: var(--toolbar-height);
    border-bottom: var(--border2);
    padding: 0px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EL-header-buttons {
    display: none;
}
.EL-header:hover > span.EL-header-buttons {
    display: inline;
}
