
.EL-header {
    min-height: var(--toolbar-height);
    padding: 0px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EL-header-buttons {
    display: none;
}
.EL-header:hover > span.EL-header-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
