.File {
    margin: 0px;
    padding: 5px 5px 5px 3px;

    display: flex;
    align-items: center;
    justify-content: left;

    color: var(--text1);
    background-color: inherit;

    font-size: inherit;
    text-align: left;
}

.File:hover {
    background-color: var(--bg4);
    cursor: pointer;
}