.scroll-area {
    overflow-y: auto;
    max-height: 100%;

    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    --bg: var(--bg3);
    --sh: var(--shadow);
    --clear: rgba(0, 0, 0, 0);

    background-color: var(--bg);

    background:
        /* Shadow Cover TOP */
        linear-gradient(var(--bg) 30%, var(--clear)) center top,

        /* Shadow Cover BOTTOM */
        linear-gradient(var(--clear), var(--bg) 70%) center bottom,

        /* Shadow TOP */
        linear-gradient(var(--sh) 30%, var(--clear)) center top,

        /* Shadow BOTTOM */
        linear-gradient(var(--clear), var(--sh) 70%) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 5px, 100% 5px;
    background-attachment: local, local, scroll, scroll;
}