.FE {
    --bg: var(--gray3);

    flex: 0 0 200px;
    max-width: 200px;
    height: 100%;
    max-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    background-color: var(--bg);
}

.FE-header {
    padding: 16px;
    border-bottom: var(--border2);
}
.FE-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--white5);
    font-family: Ubuntu-Bold;
    font-weight: bold;
}

.FE-header-buttons {
    display: none;
}
.FE-header:hover > div > span.FE-header-buttons {
    display: inline;
}

.FE-header-search {
    margin-top: 15px;
} 
.FE-header-search > input {
    width: 100%;
    display: block;
    text-align: right;
    margin-left: auto;
}
.FE-header-search > div {
    text-align: right;
    color: var(--white5);
    margin-top: 5px;
}
