.FileExplorer {
    flex: 0 0 200px;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--gray2);
}

.FileExplorer {
    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    --bg: var(--gray2);
    --shadow: var(--gray1);
    --clear: rgba(0,0,0,0);

    background:
        /* Shadow Cover TOP */
        linear-gradient( var(--bg) 30%, var(--clear) ) center top,

        /* Shadow Cover BOTTOM */
        linear-gradient( var(--clear), var(--bg) 70% ) center bottom,

        /* Shadow TOP */
        linear-gradient( var(--shadow) 30%, var(--clear)) center top,

        /* Shadow BOTTOM */
        linear-gradient( var(--clear), var(--shadow) 70% ) center bottom;
  
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 8px, 100% 8px;
    background-attachment: local, local, scroll, scroll;
}