.FileExplorer {
    flex: 0 0 200px;
    max-width: 200px;
    height: 100%;
    max-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    background-color: var(--gray3);
}

.FileExplorer-header {
    padding: 15px;
    border-bottom: var(--border2);
}
.FileExplorer-header-top {
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--white5);
    font-family: Ubuntu-Bold;
    font-weight: bold;
}

.FileExplorer-header-buttons {
    display: none;
}
.FileExplorer-header:hover > div > span.FileExplorer-header-buttons {
    display: inline;
}

.FileExplorer-header-search {
    margin-top: 15px;
} 
.FileExplorer-header-search > input {
    width: 100%;
    display: block;
    text-align: right;
    margin-left: auto;
}
.FileExplorer-header-search > div {
    text-align: right;
    color: var(--white5);
    margin-top: 5px;
}
