.Menu {
    z-index: 10;
    position: absolute;
    width: 250px;
    padding: 8px 0;
    border-radius: var(--round);
    border: 1px var(--gray5) solid;
    background: var(--gray1);

    box-shadow: var(--shadow) 0 3px 8px;
}
.Menu > * {
    width: 100%;
}
.Menu > hr {
    margin: 3px 0px;
}