#Sidebar {
    flex: 0 0 50px;
    height: 100vh;
    background-color: var(--gray4);
}

#Sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#Sidebar ul li button {
    border: none;
    background-color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
