.IconButton {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;

    border: none;
    border-radius: 5px;

    background-color: inherit;
}


.IconButton > img {
    filter: var(--dark-filter);
}
.IconButton > img:hover {
    cursor: pointer;
    filter: var(--black-filter);
}