@charset "utf-8";
.Workspace {
    flex: 1 1 auto;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--gray2);
}


#content {
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-family: monospace;
    color: inherit;
    background-color: inherit;
    resize: none;
}

