.FileList {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    --FileList-columns: 60% 15% 20% 5%;
}

.FileList-header {
    flex: 0 0 auto;

    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: var(--FileList-columns);

    color: var(--white5);
    font-family: Ubuntu-Bold;
    border-bottom: var(--border2);
}

.FileList-header>span {
    border-right: var(--border2);
    margin-right: 10px;
}

.FileList-items {
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: scroll;
}

.FileList-items {
    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    --bg: var(--gray3);
    --shadow: var(--gray1);
    --clear: rgba(0,0,0,0);

    background:
        /* Shadow Cover TOP */
        linear-gradient( var(--bg) 30%, var(--clear) ) center top,

        /* Shadow Cover BOTTOM */
        linear-gradient( var(--clear), var(--bg) 70% ) center bottom,

        /* Shadow TOP */
        linear-gradient( var(--shadow) 30%, var(--clear)) center top,

        /* Shadow BOTTOM */
        linear-gradient( var(--clear), var(--shadow) 70% ) center bottom;
  
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 8px, 100% 8px;
    background-attachment: local, local, scroll, scroll;
}