#OFD-controls {
    width: 100%;
    padding: 10px;
    height: var(--toolbar-height);
    background-color: var(--gray2);
    border-bottom: var(--border1);
    border-radius: var(--round) 0px var(--round) 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#OFD-nav {
    width: 100%;
    padding: 10px;
    height: var(--toolbar-height);
    border-bottom: var(--border1);

    display: flex;
    justify-content: left;
    align-items: center;
}
#OFD-nav > span {
    font-family: Ubuntu-Bold;
}