@charset "utf-8";
.WS {
    flex: 1 1 auto;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--bg2);
}

.WS-tabs {
    background-color: var(--bg3);
}
.WS-tab-item {
    margin: 0px;
    padding: 0px 10px;
    height: 35px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--text5);
    background-color: var(--bg4);
    border-left: var(--border1);
}
.WS-tab-item.active {
    color: var(--text1);
    background-color: var(--bg2);
}
.WS-tab-item:first-child {
    border-left: none;
}

.WS-fileinfo {
    flex: 1 0 25px;
    padding: 0px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WS-fileinfo-breadcrumbs {
    flex: 0 0 auto;
    margin: 0px 30px 0px 15px;
}

.tab-pane.active {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.WS-content {
    display: block;
    width: 80%;
    padding: 10px 30px;
    overflow-y: visible;

    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    resize: none;
}
textarea.WS-content {
    font-family: monospace;
}

#MD-toggle {
    position: fixed;
    margin: 5px;
    bottom: 0px;
    right: 0px;
}

