/* for Search */
.ES-header {
    padding: 25px;
    border-bottom: var(--border2);
} 

.ES-searchbar {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.ES-searchbar > input {
    flex: 0 1 auto;
    min-width: 0px;
}
.ES-searchbar > button {
    position: absolute;
    right: 100%;
    top: 5px;
}

.ES-checkboxes > label {
    display: block;
    text-align: left;
    margin: 5px 0px;
}
.ES-checkboxes input {
    margin-right: 10px;
}

.ES-results {
    text-align: right;
    color: var(--white5);
}
