#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: var(--toolbar-height);
    background-color: var(--gray2);
    border-bottom: var(--border1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#toolbar > * {
    margin: 0 5px;
}