#registerform {
    color: var(--text1);
    background-color: var(--bg3) !important;
    padding: 20px;
    border-radius: 20px;
}
#registerbutton {
    border: none;
    border-radius: 10px;
    color: var(--text2);
    background-color: var(--accent);
    width: 90px;
}
#registerbutton:hover {
    color: var(--text1);
    font-weight: bold;
}


.modal-content {
    border-radius: 30px !important;
}